<div class="flex-full">
    <div class="search_filter">
        <div class="left_search">
            <el-page-header title="" content="已收传真"></el-page-header>
        </div>
        <div class="right_search">
            <el-button icon="el-icon-plus" type="success" @click="controlAdd">新增</el-button>
          <el-input
            placeholder="可按标题,部门,传真号检索"
            v-model="searchData.keyWord"
            class="search_input">
            <el-button
              slot="append"
              @click="getListData"
              icon="el-icon-search"
            ></el-button>
          </el-input>
          <div class="search_slot">
            <el-button @click="showSearch = !showSearch" type="primary" plain>
              高级搜索<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <div class="search_form" v-show="showSearch">
              <el-form :inline="true">
                <el-form-item label="呼叫时间:">

                  <el-date-picker
                    v-model="search_time"
                    type="datetimerange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
                  </el-date-picker>
                </el-form-item>
                <el-form-item>
                  <el-button
                    icon="el-icon-check"
                    type="primary"
                    @click="getListData">确定
                  </el-button>
                  <el-button
                  icon="el-icon-success"
                  type="primary"
                  @click="getListData"
                  >
                      全部
                    </el-button>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </div>
      </div>
        <list-table
          v-if="checkPage=='2'"
          unsortable="true"
          :propdata="propRedData"
          @tablecallback="tablecallback">
        </list-table>
  </div>