<div :class="temp.style.details_edit">
    <div class="search_filter">
        <div class="left_search">
            <el-page-header title="" content="添加会议室预定申请"></el-page-header>
        </div>
        <div class="right_search">
            <el-button type="primary" @click="go('/conferenceroom/applyList')" icon="el-icon-arrow-left" plain>返回
            </el-button>
            <el-button type="success" @click.native="submit" icon="el-icon-check">保存</el-button>
        </div>
    </div>
    <div :class="temp.style.matter_content">
        <div :class="temp.style.matter_content_left_new">
            <el-scrollbar>
                <div :class="temp.style.matter_content_left_scroll">
                    <div :class="temp.style.matter_content_form">
                        <el-form label-position="right" :model="ruleForm" :rules="rules" ref="ruleForm"
                            label-width="120px" class="demo-ruleForm">

                            <el-form-item label="会议室:" prop="roomId">
                                <el-col :span="6">
                                    <el-select placeholder="请选择会议室" v-model.trim="ruleForm.roomId">
                                        <el-option v-for="item in roomSelect" :key="item.id" :label="item.label"
                                            :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="会议室使用日期:" prop="meetingDate">
                                <el-col :span="6">
                                    <el-date-picker placeholder="请选择会议室使用日期" type="date"
                                        v-model.trim="ruleForm.meetingDate"></el-date-picker>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="会议室开始时间:" prop="meetingStartTime">
                                <el-col :span="6">
                                    <el-time-select placeholder="请选择会议开始时间" :picker-options="{
                                        start:'07:00',step:'00:10',end:'20:00'
                                    }" v-model.trim="ruleForm.meetingStartTime"></el-time-select>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="会议室结束时间:" prop="meetingEndTime">
                                <el-col :span="6">
                                    <el-time-select placeholder="请选择会议结束时间" :picker-options="{
                                        start:'07:00',step:'00:10',end:'20:00'
                                    }" v-model.trim="ruleForm.meetingEndTime"></el-time-select>

                                </el-col>
                            </el-form-item>

                            <el-form-item label="参会人数:" prop="participantNum">
                                <el-col :span="12">
                                    <el-input placeholder="请输入参会人数" :maxlength="50"
                                        v-model.trim="ruleForm.participantNum"></el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="是否启用多媒体:" prop="enablingMultimedia">
                                <el-col :span="12">
                                    <el-radio v-model="ruleForm.enablingMultimedia" label="1">是</el-radio>
                                    <el-radio v-model="ruleForm.enablingMultimedia" label="0">否</el-radio>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="使用领导:" prop="usingLeader">
                                <el-col :span="12">
                                    <el-input placeholder="请输入使用领导" :maxlength="50" v-model.trim="ruleForm.usingLeader">
                                    </el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="预定人:" prop="reserveName">
                                <el-col :span="12">
                                    <el-input placeholder="请输入预定人" :maxlength="100" v-model.trim="ruleForm.reserveName">
                                    </el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="预定人电话:" prop="reservePhone">
                                <el-col :span="12">
                                    <el-input placeholder="请输入预定人电话" :maxlength="50"
                                        v-model.trim="ruleForm.reservePhone"></el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="预定人处室:" prop="reserveDept">
                                <el-col :span="12">
                                    <el-input placeholder="请输入预定人处室" :maxlength="50"
                                        v-model.trim="ruleForm.reserveDept"></el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="会议议题:" prop="meetingAgenda">
                                <el-col :span="12">
                                    <el-input placeholder="请输入会议议题" :maxlength="50"
                                        v-model.trim="ruleForm.meetingAgenda"></el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="经办人姓名:" prop="operatorName">
                                <el-col :span="12">
                                    <el-input placeholder="请输入经办人姓名" :maxlength="50"
                                        v-model.trim="ruleForm.operatorName"></el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="经办人电话:" prop="operatorPhone">
                                <el-col :span="12">
                                    <el-input placeholder="请输入经办人电话" :maxlength="50"
                                        v-model.trim="ruleForm.operatorPhone"></el-input>
                                </el-col>
                            </el-form-item>

                            <el-form-item label="备注:" prop="remarks">
                                <el-col :span="12">
                                    <el-input placeholder="请输入备注" type="textarea" :rows="4" :maxlength="50"
                                        v-model.trim="ruleForm.remarks">
                                    </el-input>
                                </el-col>
                            </el-form-item>

                        </el-form>
                    </div>
                </div>
            </el-scrollbar>
        </div>
    </div>
</div>