<div class="flex-full">
  <div class="search_filter">
    <div class="left_search">
      <el-page-header title="" content="会议室查看"></el-page-header>
    </div>
    <div class="right_search">
      <el-button type="primary" @click.native="getBack" icon="el-icon-arrow-left" plain>返回</el-button>
    </div>
  </div>
  <div style="height: 100%">
    <div :class="temp.style.transfer_left">
      <el-scrollbar>
          <p :class="temp.style.title">会议室信息</p>
          <el-form label-position="right" :model="ruleForm" ref="ruleForm" label-width="120px" :class="temp.style.form">
            <el-row>
              <el-col :span="12">
                <el-form-item label="会议室名称:">
                    <el-input readonly="readonly" :maxlength="50" v-model.trim="ruleForm.roomName"></el-input>
                </el-form-item>
              </el-col>  
              <el-col :span="12">
                <el-form-item label="可容纳总人数:">
                  <el-input readonly="readonly" :maxlength="50" v-model.trim="ruleForm.totalNum"></el-input>
                </el-form-item>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="12">
                <el-form-item label="主席台坐席数:">
                    <el-input readonly="readonly" :maxlength="50" v-model.trim="ruleForm.chairmanNum"></el-input>
                </el-form-item>
              </el-col>  
              <el-col :span="12">
                <el-form-item label="周围坐席数:">
                  <el-input readonly="readonly" :maxlength="50" v-model.trim="ruleForm.surroundingNum"></el-input>
                </el-form-item>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="12">
                <el-form-item label="是否有多媒体:">
                  <el-radio v-model="ruleForm.multimediaFlag" disabled="disabled" label="0">是</el-radio>
                  <el-radio v-model="ruleForm.multimediaFlag" disabled="disabled" label="1">否</el-radio>
                </el-form-item>
              </el-col>  
              <el-col :span="12">
                <el-form-item label="是否启用:">
                  <el-radio v-model="ruleForm.enabledFlag" disabled="disabled" label="1">是</el-radio>
                  <el-radio v-model="ruleForm.enabledFlag" disabled="disabled" label="0">否</el-radio>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <p :class="temp.style.title">预定记录</p>
          <list-table class="meetingeditor" :propdata="propData" @tablecallback="tablecallback"></list-table>
      </el-scrollbar>
    </div>
    <div :class="temp.style.transfer_right">
      <p :class="temp.style.title">会议室预定过程</p>
      <div :class="temp.style.details_process" style="margin-top:18px">
        <div :class="temp.style.details_process_tree">
          <el-scrollbar style="height:100%">
            <ul v-if="historyList && historyList.length > 0" :class="temp.style.process_tree_ul">
                <li :class="temp.style.process_tree_li" v-for="item in historyList">
                    <div>
                        <div :class="temp.style.process_tree_name">{{item.createName}}{{item.actionTypeName}} <span style="cursor:pointer" @click="edit(item.reserve)">预定记录</span>
                            
                        </div>
                        <div v-show="item.actionReson && item.actionType!=='ADD'" :class="temp.style.process_tree_desc">原因:{{item.actionReson}}</div>
                        <div :class="temp.style.process_tree_time">{{item.createTime}}</div>
                    </div>
                </li>
            </ul>
            <el-table v-else :data="[]"></el-table>
        </el-scrollbar>
        </div>
</div>    
      
    </div>
  </div>
  <el-dialog top="4vh" :title="titleName" :destroy-on-close="true" :visible.sync="viewDialog" v-if="viewDialog" class="viewDialog">
    <component :is="templateName" :propdata="propsData" @dialogcallback="closeDialogCall"></component>
  </el-dialog>
</div>
