<div :class="[temp.style.new_text_add,'outgoingReport']">
    <div class="search_filter">
        <div class="toolbar_txt">
            <el-page-header title="" :content="titleData"></el-page-header>
        </div>
        <div class="toolbar_right">
            <el-button size="small" type="primary" icon="el-icon-check" @click="addReportInfo">保存</el-button>
            <el-button size="small" type="primary" icon="el-icon-top-right" @click="addReport">上报
            </el-button>
            </el-button>
            <!-- <el-button size="small" type="primary" class="el-icon-share" @click="shareInformatiom('share-mask','分享')">分享</el-button> -->
            <el-button size="small" type="primary" icon="el-icon-arrow-left" plain @click="goback">返回
            </el-button>
        </div>
    </div>
    <div class="leaveReport">
        <div :class="temp.style.add_nav">
            <el-scrollbar style="height:100%">
                <el-form label-position="right" :model="listparams" :rules="rules" ref="leaveReport" label-width="120px"
                    class="demo-listparams">
                    <el-row>
                        <el-form-item label="公文标题:" prop="documentTitle">
                            <el-input v-model.trim="listparams.documentTitle" type="text" maxlength='50'></el-input>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-row>
                                <el-form-item label="请假人:" prop="leavePeople">
                                    <el-input type="text" v-model.trim="listparams.leavePeople" :disabled="false"
                                        maxlength='32'></el-input>
                                </el-form-item>
                            </el-row>
                        </el-col>
                        <!-- <el-col :span="8">
                            <el-row>
                                <el-form-item label="职务:" prop="outpeople">
                                    <el-input type="text" v-model="listparams.outpeople"></el-input>
                                </el-form-item>
                            </el-row>
                        </el-col> -->
                        <el-col :span="12">
                            <el-row>
                                <el-form-item label="联系手机:" prop="contactPhone">
                                    <el-input type="text" v-model.trim="listparams.contactPhone"></el-input>
                                </el-form-item>
                            </el-row>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <el-row>
                                <el-form-item label="请假开始时间:" prop="startTime">
                                    <el-date-picker type="datetime" v-model.trim="listparams.startTime"
                                        style="width: 100%"></el-date-picker>
                                </el-form-item>
                            </el-row>
                        </el-col>
                        <el-col :span="12">
                            <el-row>
                                <el-form-item label="请假结束时间:" prop="endTime">
                                    <el-date-picker type="datetime" :picker-options="pickerOptions" @change="handleDate"
                                        v-model.trim="listparams.endTime" style="width: 100%"></el-date-picker>
                                </el-form-item>
                            </el-row>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-form-item label="情况描述:" prop="eventDescription">
                            <el-input v-model.trim="listparams.eventDescription" rows="2" type="textarea"
                                maxlength='300' show-word-limit></el-input>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item label="请假理由:" prop="eventReason">
                            <el-input v-model.trim="listparams.eventReason" rows="2" type="textarea" maxlength='300'
                                show-word-limit></el-input>
                        </el-form-item>
                    </el-row>
                    <el-row>
                        <el-form-item label="迟报说明:" prop="lateReport">
                            <el-input v-model.trim="listparams.lateReport" rows="2" type="textarea" maxlength='300'
                                show-word-limit></el-input>
                        </el-form-item>
                    </el-row>
                    <!-- <el-row>
                        <el-form-item label="主持工作领导:" prop="hostLeaderName">
                            <el-input type="text" v-model="listparams.hostLeaderName"
                                @focus="getHostLeaderInfo('选择主持工作领导','2')"></el-input>
                        </el-form-item>
                    </el-row> -->
                    <el-row>
                        <el-form-item label="信息附件:" prop="attchmentList">
                            <iams-upload ref="upload" v-model="listparams.attachmentList" :limit=5></iams-upload>
                        </el-form-item>
                    </el-row>
                </el-form>
            </el-scrollbar>
        </div>
    </div>
    <el-dialog :title="dialogConfig.tilteName" :visible.sync="dialogConfig.viewDialog" :destroy-on-close="true"
        width="1050px" v-if="dialogConfig.viewDialog">
        <component :is="dialogConfig.templateName" ref="childrenDialog" :propdata="dialogConfig.propsData"
            @dialogcallback="closeDialogCall"></component>
    </el-dialog>
</div>