<div class="outgoingReport" style="height: 100%;">
    <div :class="temp.style.new_text_add">
        <div class="search_filter">
            <div class="toolbar_txt">
                <el-page-header title="" content="外出报备详情"></el-page-header>
            </div>
            <div class="toolbar_right">
                <!-- <el-button size="small" type="primary" class="el-icon-share" @click="shareInformatiom('share-mask','分享')">分享</el-button> -->
                <el-button size="small" type="primary" icon="el-icon-arrow-left" plain @click="goback">返回
                </el-button>
            </div>
        </div>
        <div :class="temp.style.add_nav">
            <div :class="temp.style.textAdd_left" class="flex-ful">
                <el-scrollbar style="height: 100%;">
                    <div :class="temp.style.first_pane">
                        <el-form label-position="right" :model="listparams" :rules="rules" ref="listparams" label-width="120px" class="demo-listparams" :disabled="true">
                            <el-row>
                                <el-form-item label="公文标题:" prop="documentTitle">
                                    <el-input type="text" v-model.trim="listparams.documentTitle" maxlength='100'></el-input>
                                </el-form-item>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-row>
                                        <el-form-item label="外出领导:" prop="outLeaderName">
                                            <el-input type="text" v-model.trim="listparams.outLeaderName" @focus="getLeaderInfo('select-leader','选择外出人员')"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                                <!-- <el-col :span="8">
                                                <el-row>
                                                    <el-form-item label="单位:" prop="unit">
                                                        <el-input type="text" v-model="listparams.unit" :disabled="true"></el-input>
                                                    </el-form-item>
                                                </el-row>
                                            </el-col> -->
                                <el-col :span="12">
                                    <el-row>
                                        <el-form-item label="职务:" prop="outLeaderPosition">
                                            <el-input type="text" v-model.trim="listparams.outLeaderPosition" :disabled="true"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-form-item label="外出事由:" prop="outReason">
                                    <el-input v-model.trim="listparams.outReason" rows="2" type="textarea" maxlength='300' show-word-limit></el-input>
                                </el-form-item>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-row>
                                        <el-form-item label="外出类型:" prop="outType">
                                            <el-input type="text" v-model.trim="listparams.outType" :disabled="false"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-form-item label="外出联系人:" prop="outContactPeople">
                                            <el-input type="text" v-model.trim="listparams.outContactPeople"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-row>
                                        <el-form-item label="外出开始时间:" prop="startTime">
                                            <el-input type="text" v-model.trim="listparams.startTime"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-form-item label="外出结束时间:" prop="endTime">
                                            <el-input type="text" v-model.trim="listparams.endTime"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-row>
                                        <el-form-item label="主持工作领导:" prop="hostLeaderName">
                                            <el-input type="text" v-model.trim="listparams.hostLeaderName" @focus="getLeaderInfo('select-leader','选择外出人员')"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-form-item label="单位:" prop="hostLeaderUnitName">
                                            <el-input type="text" v-model.trim="listparams.hostLeaderUnitName" :disabled="true"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-form-item label="职务:" prop="hostLeaderPosition">
                                            <el-input type="text" v-model.trim="listparams.hostLeaderPosition" :disabled="true"></el-input>
                                        </el-form-item>
                                    </el-row>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-form-item label="备注:" prop="remarks">
                                    <el-input rows="2" type="textarea" v-model.trim="listparams.remarks" maxlength='300' show-word-limit></el-input>
                                </el-form-item>
                            </el-row>
                            <el-row>
                                <el-form-item label="正文附件">
                                    <file-cell :filelist="listparams.attachmentList"></file-cell>
                                </el-form-item>
                            </el-row>
                        </el-form>
                    </div>
                </el-scrollbar>
            </div>

            <div :class="temp.style.textAdd_right" class="text_right">
                <el-tabs v-model="activeNamex" @tab-click="handleClick" :class="temp.style.right_tab">
                    <el-tab-pane label="处理过程" name="first">
                        <div :class="temp.style.details_process_tree">
                            <el-scrollbar style="height:100%">
                                <ul v-if="handlelist.length>0" :class="temp.style.process_tree_ul">
                                    <li :class="temp.style.process_tree_li">
                                        <div :class="temp.style.process_tree_name">{{handlelist[0].senderName +' '+'发送至'+' '+ handlelist[0].receiveName +''}}</div>
                                        <div :class="temp.style.process_tree_name" v-if="handlelist[0].receivecontent&&handlelist[0].receivecontent!==''">内容：<span v-html="handlelist[0].receivecontent">{{handlelist[0].receivecontent}}</span></div>
                                        <div :class="temp.style.process_tree_time">{{' 发送时间 '+handlelist[0].createTime}}</div>
                                    </li>
                                    <li :class="temp.style.process_tree_li" v-if="handlelist[0].documentProgressStatus != '5'">
                                        <div :class="temp.style.process_tree_name" v-if="handlelist[0].documentProgressStatus!='1'">{{handlelist[0].receiveName + ' ' + ' ：'+handlelist[0].documentProgressStatusName}}</div>
                                        <div :class="temp.style.process_tree_time" v-if="handlelist[0].documentProgressStatus!='1'">{{' 处理时间：'+' '+handlelist[0].updateTime}}</div>
                                        <div :class="temp.style.process_tree_time" v-if="handlelist[0].documentProgressStatus=='1'">{{'当前状态为：' + handlelist[0].documentProgressStatusName}}</div>
                                        <div :class="temp.style.process_tree_name" v-if="handlelist[0].regression&&handlelist[0].regression!==''">{{'退回原因：' + handlelist[0].regression}}</div>
                                    </li>
                                    <li :class="temp.style.process_tree_li" v-else>
                                        <div :class="temp.style.process_tree_name">{{handlelist[0].senderName + ' ' + ' ：'+handlelist[0].documentProgressStatusName}}</div>
                                        <div :class="temp.style.process_tree_time">{{' 处理时间：'+' '+handlelist[0].updateTime}}</div>
                                        <div :class="temp.style.process_tree_time">{{'当前状态为：' + handlelist[0].documentProgressStatusName}}</div>
                                    </li>
                                </ul>
                                <el-table v-else :data="[]"></el-table>
                            </el-scrollbar>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
        <el-dialog :title="dialogConfig.tilteName" :visible.sync="dialogConfig.viewDialog" :destroy-on-close="true">
            <component :is="dialogConfig.templateName" ref="childrenDialog" :propdata="propsData" @dialogcallback="closeDialogCall"></component>
        </el-dialog>
    </div>
</div>