
  <!-- 信息处理 -->
  <el-dialog title="信息处理" :visible.sync="manageDialog" class="informationHandling" @close="cancel">
    <div :class="temp.style.manage_box">
      <el-row>
        <el-col :span="6">
          <el-radio v-model="manageType" label="1" @change="handleRadio">信息拟办</el-radio>
        </el-col>
        <el-col :span="6">
          <el-radio v-model="manageType" label="2" @change="handleRadio">信息审核</el-radio>
        </el-col>
        <el-col :span="6">
          <el-radio v-model="manageType" label="3" @change="handleRadio">领导批示</el-radio>
        </el-col>
        <el-col :span="6">
          <el-radio v-model="manageType" label="4" @change="handleRadio" :class="temp.style.manage_radio" v-if="cbflag">呈报上报</el-radio>
        </el-col>
      </el-row>
      <el-row class="esc">
        <div style="padding: 15px; padding-left: 0">
          <el-col :span="12">
            <h3>选择发送对象</h3>
          </el-col>
          <el-col v-show="manageType==='3'" :span="12">
            <span>批阅时间：</span>
            <el-date-picker type="datetime" :picker-options="pickerOptions" v-model="instructTime" range-separator="至"
              start-placeholder="开始日期" end-placeholder="结束日期" :editable="false" :clearable="false" style="width: 50%;">
            </el-date-picker>
          </el-col>
        </div>
      </el-row>
      <!-- <div :class="temp.style.manage_box_right">
        <div>
            <span>发送给：</span>
            <span :class="proposeList.find(ele=>{return ele.userId === item.userId}) ?[temp.style.manage_person_box,temp.style.active]:temp.style.manage_person_box" v-for="(item,index) in proposeOption" :key="index" @click="chosePersonnel(1,item)">{{item.userName}}</span>
        </div>
        <div>
          <span>发送给：</span>
            <span :class="checkList.find(ele=>{return ele.userId === item.userId}) ?[temp.style.manage_person_box,temp.style.active]:temp.style.manage_person_box" v-for="(item,index) in checkOption" :key="index" @click="chosePersonnel(2,item)">{{item.userName}}</span>
        </div>
        <div>
          <span>发送给：</span>
          <span :class="leaderList.find(ele=>{return ele.userId === item.userId}) ?[temp.style.manage_person_box,temp.style.active]:temp.style.manage_person_box" v-for="(item,index) in leaderOption" :key="index" @click="chosePersonnel(3,item)">{{item.userName}}</span>
        </div>
        <div>
          <span>批阅时间：</span>
          <el-date-picker type="datetime" :picker-options="pickerOptions" v-model="instructTime" range-separator="至"
            start-placeholder="开始日期" end-placeholder="结束日期" style="width: 50%;">
          </el-date-picker>
        </div>
      </div> -->
    </div>
    <div>
        <div :class="temp.style.top_tabs">
          <div :class="[temp.style.tab, curIndex === 0 ? temp.style.active : '']" @click="handleTabs(0)">值班人员</div>
          <div :class="[temp.style.tab, curIndex === 1 ? temp.style.active : '']" @click="handleTabs(1)">组织机构</div>
        </div>
        <el-row>
          <el-col :span="9">
            <div  v-show="curIndex === 0" :class="temp.style.left">
              <information-handling-tree ref="informationHandlingTree" @test="test" @getTableData="getTableData"></information-handling-tree>
              <!-- @treeCheck="treeChecktreeCheck" -->
            </div>
            <div  v-show="curIndex === 1" :class="temp.style.left">
              <information-handling-search-tree ref="informationHandlingSearchTree" :configtree="configtree" :lazyload="true"
              @checktree="checkTree" listtype="getOrgCurrentTree" @change="getOrg"
              :defaultchecked="defaultchecked"></information-handling-search-tree>
              <!-- @check="getChecked" -->
            </div>
          </el-col>
          <el-col :span="15">
            <div
              :class="temp.style.table_wrap_right"
            >
              <el-table
                ref='tableRef'
                border
                :data="curIndex === 0 ? tableData.tableData_duty : tableData.tableData_org"
                height="100%"
                @selection-change="selectionChange"
                >
                <!-- v-loading="tableLoading" -->
                <el-table-column
                type="selection"
                width="55"
                >
                </el-table-column>
                <el-table-column
                v-for="(col, index) in headCols"
                show-overflow-tooltip
                :prop="col.prop"
                :label="col.label"
                :key="index"
                align="center"
                >
                </el-table-column>
              </el-table>
            </div>
          </el-col>
        </el-row>
      </div>
      <h3 style="margin-bottom: 10px;margin-top: 10px;">已选人员列表</h3>
      <div :class="temp.style.outbox_send_org">
        <div :class="temp.style.outbox_send_org_content">
            <el-scrollbar ref="scrollbar">
                <div class="clearfix">
                    <div class="outbox-org-conut" ref="orgName"
                        :class="activePersonNameList.includes(item.personId)?[temp.style.outbox_org_name,'org_active']:temp.style.outbox_org_name"
                        v-for="(item, index) in checkBoxContent" :key="index ">
                        <div :class="temp.style.outbox_org_top">
                            <span
                                :title="item.personName">{{item.personName}}</span>
                            <i class="el-icon-close" @click="choosed(index,item)"></i>
                        </div>
                    </div>
                </div>
            </el-scrollbar>
        </div>
        <div :class="temp.style.outbox_send_org_button">
            <el-button type="text" icon="el-icon-circle-close" @click="clearCheck">全部清除
            </el-button>
        </div>
    </div>

    <div :class="temp.style.explain_box" v-if="!cbflag">
      <!-- <span>说明：</span> -->
      <h3 style="margin-bottom: 10px;margin-top: 10px;">说明：</h3>
      <div>
        <el-input type="textarea" placeholder="请输入内容" v-model="approvalContent" maxlength="1000" show-word-limit></el-input>
      </div>
    </div>
    <div slot="footer" class="dialog-footer">
      <el-button type="primary" icon="el-icon-switch-button" plain @click="cancel">取消</el-button>
      <el-button type="primary" icon="el-icon-check" @click="saveFun">提交</el-button>
    </div>
  </el-dialog>

