<div class="flex-full">
    <div :class="temp.style.serach_filter">
        <div class="left_search">
            <el-page-header title="" content="信息管理列表"></el-page-header>
        </div>
        <div class="right_search">
            <el-input @keyup.enter.native="quikSearch" placeholder="可按标题搜索" v-model="searchData.keyWord"
                :class="temp.style.search_input">
                <el-button slot="append" @click="quikSearch" icon="el-icon-search"></el-button>
            </el-input>
            <div :class="temp.style.search_slot">
                <el-button @click="showSearch = !showSearch" class="search_showSearch">
                    精准搜索 <i :class="showSearch?'el-icon-arrow-up':'el-icon-arrow-down'"></i>
                </el-button>
               
            </div>
        </div>
    </div>
      <div :class="[temp.style.search_form,'search_form']" v-show="showSearch">
        <el-form :inline="true">
          <el-form-item label="接报时间">
            <el-date-picker v-model="search_time" type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" style="width: 20rem;">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="事件类型">
            <!-- 组件v-model -->
            <iams-combobox listtype="getInfoTypeTree" v-model="searchData.eventType" ref="eventType">
            </iams-combobox>
          </el-form-item>
          <el-form-item label="报送单位">
            <!-- <iams-combobox islazy="true" lazymethod="provincetoorg" listtype="getOrgCurrentTree"
                                                  v-model="searchData.orgCode" ref="orgCode"></iams-combobox> -->
            <iams-combobox listtype="getFordutyTree" v-model="searchData.orgCode" ref="orgCode" :rootcheck="true">
            </iams-combobox>
      
          </el-form-item>
          <el-form-item>
            <el-button icon="el-icon-check" type="primary" @click="quikSearch">
              确定
            </el-button>
            <el-button icon="el-icon-refresh" type="primary" @click="deleteSearch" plain>
              重置
            </el-button>
          </el-form-item>
        </el-form>
      </div>
    <list-table ref="infoManage" :propdata="propData" @tablecallback="tablecallback" @handleselection="handleselection">
    </list-table>
</div>
