<div class="leadDialog">
  <el-form :model="ruleForm" :rules="rules()" ref="ruleForm">
    <el-form-item prop="addInfo">
      <div :class="temp.styles.textarea">
        <!-- <el-input maxlength="500" show-word-limit type="textarea" v-model.trim="addInfo" :rows="12" placeholder="请输入内容"></el-input> -->
        <el-input maxlength="500" show-word-limit type="textarea" v-model="ruleForm.addInfo" :rows="12" placeholder="请输入内容"></el-input>
        <!-- <span :class="temp.styles.count">{{ count }}/500</span> -->
      </div>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button type="primary" icon="el-icon-switch-button" @click="hiddenDialog" plain>取消</el-button>
    <el-button type="primary" @click="saveFun" icon="el-icon-check">保存</el-button>
  </div>
</div>