<div class="flex-full list-contain">
    <!-- <div class="ntko_header" style="padding-bottom: 0.3rem;"> -->
        <!-- <el-button @click="saveReport">保存</el-button> -->
        <!-- <el-button type="primary" @click="SaveToLocal">另存为</el-button>
        <el-button @click="TANGER_OCX_Printview">预览</el-button> -->
    <!-- </div> -->
    <div class="flex-full">
        <object id="TANGER_OCX" classid="clsid:A64E3073-2016-4baf-A89D-FFE1FAA10EC2"
            codebase="../../assets/resource/ofctnewclsid.cab#version=5,0,4,0" width="100%" height="100%">
            <param name="BorderStyle" value="1">
            <param name="BorderColor" value="7225631">
            <param name="TitlebarColor" value="16777215">
            <param name="TitlebarTextColor" value="0">
            <param name="Caption" value="北京辰安科技股份有限公司">
            <param name="Menubar" value="-1">
            <param name="IsShowToolMenu" value="-1">
            <param name="FilePrintPreview" value="0">
            <param name="IsNoCopy" value="0">
            <param name="NoExpireKey" value="F89EFB41B0DD327C90BF9B05C3454417">
            <param name="MakerCaption" value="北京辰安科技股份有限公司">
            <param name="MakerKey" value="4F4E0E192028D57D84765537D7742433A5300CF6">
            <param name="ProductCaption" value="综合应急平台">
            <param name="ProductKey" value="74C1D3CB1D12B74C4D12BAAC10B9BF257D599755">
            <span STYLE="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。</span>
        </object>
        <form id="myForm" name="myForm">
            <!-- <input name="SPECIAL" value="SPECIAL"> -->
            <input name="token" :value="token">
        </form>
    </div>
</div>