<div :class="temp.style.details_edit">
    <div class="search_filter">
      <div class="left_search">
        <el-page-header title="" content="添加上报"></el-page-header>
      </div>
      <div class="right_search">
        <el-button type="primary" @click.native="getBack" icon="el-icon-arrow-left" plain>返回</el-button>
        <el-button type="success" @click.native="saveDraft" icon="el-icon-check" >报平安</el-button>
      </div>
    </div>
    <div :class="temp.style.matter_content">
      <div :class="temp.style.matter_content_left_new">
        <el-scrollbar>
          <div :class="temp.style.matter_content_left_scroll">
            <div :class="temp.style.matter_content_form">
              <el-form label-position="right" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
                <el-form-item label="事件标题:" prop="dailyTitle">
                    <el-col :span="12">
                    <el-input placeholder="请输入事件标题" :maxlength="50" v-model.trim="ruleForm.dailyTitle"></el-input>
                    </el-col>
                </el-form-item>
                
                <el-row>
                  <el-col :span="12">
                    <el-form-item label="上报日期:" prop="dailyTime" >
                      <el-col :span="12">
                        <el-date-picker type="datetime" format="yyyy-MM-dd HH:mm" :picker-options="start_Date" v-model.trim="initTime" style="width: 100%"></el-date-picker>
                      </el-col>
                    </el-form-item>
                  </el-col>  
                </el-row>
  
                <el-form-item label="内容:" prop="dailyContent">
                    <el-col :span="12">
                    <el-input placeholder="请输入详情描述" resize="none" rows="6" type="textarea" maxlength='500' show-word-limit v-model="ruleForm.dailyContent"></el-input>
                    </el-col>
                </el-form-item>

                <el-form-item>
                  <div :class="temp.style.ordinary" >
                    <ul>
                      <li @click='getDomData'>今日无突发事件发生，平安。</li>
                    </ul>
                  </div>
                </el-form-item>

                <el-form-item label="信息附件" prop="attachmentList">
                  <iams-upload v-model="ruleForm.attachmentList" :popsmg="msgData"></iams-upload>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </el-scrollbar>
      </div>
    </div>
  </div>
  